/* 默认颜色样式 .default-style  */
body {
  background: radial-gradient(#ffedbc, #ed4264);
}

.default-style {
  background: #f64147
}

.default-style .cube-box .cube-box-content {
  background: #000;
}

.default-style .the-next-cube-title,
.default-style .your-title {
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  padding-bottom: 4px;
  color: #000;
}

.default-style .your-title {
  padding-top: 12px;
}

.default-style .the-next-cube {
  background: #000;
  box-sizing: content-box;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  width: 100% !important;
}

.default-style .your-content {
  background: #000;
  color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  padding: 2px;
}

.default-style .your-content-position {
  text-align: center;
}

.default-style .your-content-box {
  font-weight: bold;
  padding-bottom: 6px;
}

.default-style .game-over-cubes {
  border: 0 !important;
  border-radius: 0 !important;
}

.default-style .cube-hollow-gaming {
  border: 1px solid #1c1c1c;
  background: #000;
}

.default-style .cube-solid {
  border: 2px solid #000;
  border-radius: 4px;
}

.default-style .the-next-cube .cube-solid {
  border: 1px solid #000;
  border-radius: 2px;
}

.default-style .cube-I {
  background: #29cadf;
}

.default-style .cube-T {
  background: #c65afd;
}

.default-style .cube-Z {
  background: #fd5d63;
}

.default-style .cube-Z-mirror {
  background: #62ea5d;
}

.default-style .cube-O {
  background: #feff5d;
}

.default-style .cube-L {
  background: #feac5f;
}

.default-style .cube-L-mirror {
  background: #6266fe;
}

/* 底部按钮样式 */
.default-style button {
  /* background: #fff; */
  background: linear-gradient(to right, #8e9eab, #eef2f3);
}

.default-style .button-center button {
  border-radius: 5px;
  height: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.default-style #code-rotate {
  display: flex;
  align-items: center;
  justify-content: center;
}

.default-style .button-right {
  color: #000;
}

.default-style .iconfont {
  font-size: 18px;
}

.default-style .cube-display-box .cube-right-box .your-content {
  flex: 1;
}