/* 默认颜色样式 .default-style  */
body {
  background: radial-gradient(#fff, #051c45);
}

.default-style {
  background: radial-gradient(#115ea1, #0a274f);
}

/* .default-style .cube-box {
  box-sizing: content-box;
} */

.default-style .cube-box .cube-box-content {
  border: 4px solid #074aa8;
  background: #000;
}

.default-style .the-next-cube-title {
  color: #fff;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  background-image: linear-gradient(
    #0754ad,
    #114e91,
    #094a91,
    #094a91,
    #094a91,
    #114e91,
    #0754ad
  );
}

.default-style .the-next-cube {
  border: 2px solid #074aa8;
  background: #000;
  box-sizing: content-box;
  width: calc(100% - 4px) !important;
}

.default-style .game-fraction {
  padding: 0 !important;
  border: 0 !important;
  color: #fff;
}

.default-style .game-over-cubes {
  border: 0 !important;
  border-radius: 0 !important;
  background: #fff;
}

.default-style .cube-hollow-gaming {
  border: 1px solid #000;
  background: #000;
}

.default-style .cube-solid {
  border: 2px solid #000;
  border-radius: 4px;
}

.default-style .the-next-cube .cube-solid {
  border: 1px solid #000;
  border-radius: 2px;
}

.default-style .cube-I {
  background: #29cadf;
}

.default-style .cube-T {
  background: #c65afd;
}

.default-style .cube-Z {
  background: #fd5d63;
}

.default-style .cube-Z-mirror {
  background: #62ea5d;
}

.default-style .cube-O {
  background: #feff5d;
}

.default-style .cube-L {
  background: #feac5f;
}

.default-style .cube-L-mirror {
  background: #6266fe;
}

.default-style .level {
  color: #fff;
  border: 0;
  padding: 0;
}

.default-style .level .level-title,
.default-style .fraction-box {
  display: block;
  padding: 0 2px;
  background-image: linear-gradient(
    #0754ad,
    #114e91,
    #094a91,
    #094a91,
    #094a91,
    #114e91,
    #0754ad
  );
}

.default-style .level .level-span,
.default-style .max-fraction,
.default-style .now-fraction {
  background: #000;
  text-align: right;
  display: block;
  padding: 0 2px;
  border: 2px solid #074aa8;
  border-bottom: 4px solid #074aa8;
  white-space: pre-wrap;
  word-break: break-all;
}

/* 底部按钮样式 */
.default-style .button-right button {
  background: #fff;
}

.default-style #code-space {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}

.default-style #button-start {
  height: 30px;
  background: #fff;
  font-weight: bold;
}

.default-style #button-pause {
  height: 30px;
  background: #fff;
  font-weight: bold;
  margin-top: 5px;
}