/* 基本布局样式 */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.index-box {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 12px;
}

.index-box .cube-display-box {
  display: flex;
}

.index-box .cube-display-box .cube-box {
  font-size: 0;
  -webkit-text-size-adjust: none;
  flex: 1;
  letter-spacing: -3px;
}

.index-box .cube-display-box .cube-box .cube-box-content {
  display: inline-block;
}

.index-box .the-next-cube {
  letter-spacing: -3px;
  font-size: 0;
  -webkit-text-size-adjust: none;
}

.index-box .cube-display-box .cube-right-box {
  height: 98%;
  padding-left: 12px;
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.index-box .cube-display-box .cube-right-box div {
  width: 100%;
}

.index-box .cube-display-box .cube-right-box .game-fraction {
  border: 1px solid #000;
  padding: 2px;
}

.level {
  padding: 2px;
  border: 1px solid #000;
}

.game-fraction .fraction-box {
  line-height: 24px;
}

.game-fraction .max-fraction,
.game-fraction .now-fraction {
  text-align: right;
  font-weight: bold;
}

.cube-hollow,
.cube-solid {
  width: 100%;
  height: 100%;
}

/* 底部按钮位置样式 */
.game-buttons {
  height: 20%;
  display: flex;
  justify-content: center;
}

.button-right {
  height: 100%;
  text-align: center;
  font-size: 12px;
  color: #fff;
}

.button-right .button-center-box {
  height: calc(100% / 3);
  width: 100%;
  display: flex;
}

.button-center-box .center-box-div,
.button-center-box button {
  flex: 1;
  height: 100%;
}

.center-box-div {
  overflow: hidden;
}

.center-box-div span {
  margin-top: 50%;
  transform: translateY(-50%);
}

.center-box-div span:first-of-type {
  float: left;
  margin-left: 4px;
}

.center-box-div span:last-of-type {
  float: right;
  margin-right: 4px;
}

.button-right button {
  padding: 0;
  margin: 0;
  border-radius: 50%;
}

.button-top-box {
  width: 100%;
  height: calc(100% / 3);
  display: flex;
}

.button-top-box button,
.button-top-box .top-box-div {
  flex: 1;
  height: 100%;
}

.button-top-box .top-box-div {
  color: #fff;
}

.button-top-box .top-box-div span {
  float: left;
  margin-top: 50%;
  transform: translateY(-50%);
  margin-left: 4px;
}

.button-bottom-box {
  display: flex;
  height: calc(100% / 3);
}

.button-bottom-box button,
.button-bottom-box .bottom-box-div {
  flex: 1;
  height: 100%;
}

.bottom-box-div span {
  float: left;
  margin-top: 50%;
  transform: translateY(-50%);
  margin-left: 4px;
}

.button-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-left #code-rotate {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;
  line-height: 80px;
}

.button-center {
  padding: 0 24px;
  text-align: center;
}
