* {
  box-sizing: border-box;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.index-box {
  overflow: hidden;
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  padding: 12px;
}

.index-box .cube-display-box {
  flex: 1;
  display: flex;
}

.index-box .cube-display-box .cube-box {
  height: 98%;
}

.index-box .cube-display-box .cube-right-box {
  height: 98%;
  flex: 1;
  padding-left: 12px;
}

.index-box .cube-display-box .cube-right-box div {
  width: 100%;
}

.game-buttons {
  height: 20%;
}
